# Application Configuration
APP_ENV=development
# APP_ENV could be: development | testing | production

# Database Variables
# Currently using SQLite locally
DATABASE_URL=sqlite:///./crop_diagnosis.db

# Model configuration
# External mount path inside docker pointing to the models bucket/volume
MODEL_PATH=/app/models/plant_model.pth

# Worker settings (Optional for Celery/Redis if expanded)
# REDIS_URL=redis://localhost:6379/0
